
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.playwright-mcp/
.auth/

# storage state
auth/

# VS Code workspace files
*.code-workspace
